<%- include('../layouts/adminheader')%>

<h2 class="page-title">Edit Category</h2>
<a class="btn btn-primary" href="/admin/category">Back to all</a>
<br /><br />
<br /><br />

<hr>
<div class="form-group mt-10">
<% if(errors){ %>
 <% errors.forEach(function(err){%>
      <div class="alert alert-danger">
        <%= err.msg %>
      </div>
  <%})%>
<%}%>
 
</div>

<form
  action="/admin/category/edit-category/<%= category.slug %>"
  class="form-group"
  method="POST"
>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      class="form-control"
      type="text"
      name="title"
      value="<%= category.title %>"
    />
  </div>

  <div class="form-group">
    <label for="title">Slug</label>
    <input
      class="form-control"
      type="text"
      name="slug"
      value="<%= category.slug %>"
    />
  </div>


  <input type="hidden" name="id" value="<%= category._id%>">

  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Submit" />
  </div>
</form>

<%- include('../layouts/adminfooter')%>
